<div id="content">

  <div id="tab-container">
      <!-- The "content" parameter here is the robot object -->
      <ul>
        <li><a {{action navigate content}}> Navigate </a></li>
        <li><a {{action plug content}}> Plug </a></li>
        <li class="tabselected"><a> Look </a></li>
        <li><a {{action markers content}}> Markers </a></li>
      </ul>
  </div>

	<div id="main-container">
	    Look around and tell me what you see...<br>

            <table>
              <tr>
                <td>
	          <img width=400 height=300 {{bindAttr src="camera_url"}}><br>
                </td>

                <td>
		  Point head
                  <table class="joypad">
                    <tr>
                      <td></td>
                      <td><div class="mybutton" {{action pointHeadUp target="controller"}}>Up</div></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><div class="mybutton" {{action pointHeadLeft target="controller"}}>Left</div></td>
                      <td><div class="mybutton" {{action pointHeadForward target="controller"}}>O</div></td>
                      <td><div class="mybutton" {{action pointHeadRight target="controller"}}>Right</div></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><div class="mybutton" {{action pointHeadDown target="controller"}}>Down</div></td>
                      <td></td>
                    </tr>
                  </table>
                </td>

                <td>
		  Move base
                  <table class="joypad">
                    <tr>
                      <td></td>
                      <td><div class="mybutton" {{action moveForward target="controller"}}>&uarr;</div></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><div class="mybutton" {{action turnLeft target="controller"}}>&larr;</div></td>
                      <td></td>
                      <td><div class="mybutton" {{action turnRight target="controller"}}>&rarr;</div></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><div class="mybutton" {{action moveBack target="controller"}}>&darr;</div></td>
                      <td></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

	</div>
</div>
