<div id="content">

  <div id="tab-container">
      <!-- The "content" parameter here is the robot object -->
      <ul>
        <li><a {{action navigate content}}> Navigate </a></li>
        <li><a {{action plug content}}> Plug </a></li>
        <li class="tabselected"><a> Look </a></li>
        <li><a {{action pickup content}}> Pick up </a></li>
        <li><a {{action markers content}}> Markers </a></li>
      </ul>
  </div>

	<div id="main-container">
	    {{#if isConnected}}

		<table>
		  <tr>
		    <td>
			View from the camera in the robot's
			{{view Ember.Select
			    contentBinding="content.cameras"
			    selectionBinding="content.selected_camera"
			    optionLabelPath="content.name"
			    optionValuePath="content.url"
			    class="dropdown"}}:<br>
			{{#if selectedCameraIsHead}}
			  <video preload="none" autoplay="true" width=400 height=300 {{bindAttr src="selected_camera.url"}} {{action pointHeadClick target="controller"}}></video><br>
			    Click in the image to look around<br>
			{{else}}
			  <video preload="none" autoplay="true" width=400 height=300 {{bindAttr src="selected_camera.url"}}></video><br>
			{{/if}}
		    </td>

		    <td align="center">
		      Move base
		      <table class="joypad">
			<tr>
			  <td></td>
			  <td><img src="static/img/go-forward.jpg" {{action moveForward target="controller"}}></div></td>
			  <td></td>
			</tr>
			<tr>
			  <td><img src="static/img/turn-left.jpg" {{action turnLeft target="controller"}}></div></td>
			  <td></td>
			  <td><img src="static/img/turn-right.jpg" {{action turnRight target="controller"}}></div></td>
			</tr>
			<tr>
			  <td></td>
			  <td><img src="static/img/go-backwards.jpg" {{action moveBack target="controller"}}></div></td>
			  <td></td>
			</tr>
		      </table>
		    </td>
		  </tr>
		</table>
	    {{else}}
	    Robot not connected; no controls available
	    {{/if}}

	</div>
</div>
