<div class="header">
  <img src="static/img/wg-logo.png" class="headingimg" {{action showAllRobots}}>
  <span class="heading" {{action showAllRobots}}>{{name}}</span>


  <!-- The brown box containing robot information at the top of the screen -->
  <div class="robot_info_container">
    <div class="robot_info">
  {{#if isConnected}}
      <table id="table1">
        <tr>
          <th rowspan="2">
            <div class="stopbutton" {{action cancelAllActions target="content"}}>STOP<br>(not implemented)</div>
          </th>
          <th> Battery </th>
          <th> Location </th>
          <th> Motors </th>
          <th> Runstop </th>
        </tr>
        <tr>
          <td>
            <span id="battery">{{battery}}</span>%{{#if plugged_in}}<span>, charging</span>{{/if}}
          </td>
          <td>
            <span>{{pose_display}}</span>
          </td>
          <td>
            <!-- Motor halt switch -->
            {{#if motors_not_halted}}
            Active
            {{else}}
            <span class="warning">Halted</span> (<a {{action "reset_motors" on="click" target="content"}}>Reset</a>)
            {{/if}}
          </td>
          <td>
            <!-- Runstops -->
            {{#if runstop_activated}}
                <span class="warning">Robot stopped</span>
            {{else}}
                Ready
            {{/if}}
          </td>
        </tr>
      </table>

  {{else}}
    <span class="disconnected">WARNING: Connection to robot unavailable. Press reload to retry.</span>
  {{/if}}
    </div>
  </div>
</div>

{{outlet periphery}}

{{outlet main}}

<div class="progress_update">
    {{progress_update}}
</div>
