<h1><%= @robot.name %></h1>

<%= image_tag "robot.jpg", :style => "float: right; height: 100px;" %>
<%= image_tag @robot.image.url(:thumb), :style => "float: left; margin-right: 20px;" %>
<p>Enter the name of a place:</p>

<%= form_tag(:controller => 'home', :action => 'search') %>
<input name="q" type="text" size="100">
<%= submit_tag("Go") %>
</form>

<br clear="both">

<% if @q.nil? %>

<p>or select it from this map:</p>

<table>
<tr><td>
<div class="chart" id="floorplan-div"></div>
</td>
<td valign="top">
<div class="placeinfo" style="margin-left: 50px;">
  <div><b>Place name:</b> <span id="placename"></span></div>
  <div><b>Distance:</b> <span id="distance"></span></div>
</div>
</td></tr>
</div>
<script type="text/javascript">
var w = 480,
  h = 374,
  x = d3.scale.linear().domain([0, w])
  y = d3.scale.ordinal().domain([0, h]);

// x, y, width, height
var rooms = [
  [310, 338, 29, 34, "Tessa's office", 1],
  [280, 348, 28, 23, "Chad's office", 2],
  [341, 339, 28, 33, "Brandon's office", 3],
  [259, 248, 50, 32, "The Cave", 4],
  [307, 149, 42, 97, "The Green Room", 5],
  [279, 50, 181, 78, "The cafeteria", 6],
  [187, 235, 70, 75, "The pool room", 7],
  [72, 190, 102, 73, "The Cathedral", 8]
];
/* TODO: get room data from Rails
var rooms = d3.json("<%= url_for(:controller => :room, :action => :list) %>");
alert(rooms);
*/

(function() {
  var svg = d3.select("#floorplan-div").append("svg")
    .attr("width", w)
    .attr("height", h);

  svg.append("svg:image")
    .attr("xlink:href", "<%= image_path("willow-floorplan.png") %>")
    .attr("width", w)
    .attr("height", h);

  svg.selectAll(".room")
    .data(rooms)
    .enter().append("svg:rect")
      .attr("class", "room")
      .attr("x", function(d) { return d[0]; })
      .attr("y", function(d) { return d[1]; })
      .attr("width", function(d) { return d[2]; })
      .attr("height", function(d) { return d[3]; })
      .on("mouseover", function(d) {
        d3.select("#placename").text(d[4]);
        })
      .on("mouseout", function() {
        d3.select("#placename").text("");
        })
      .on("click", function(d) {
        var url = "<%= url_for(:controller => :places, :action => :navigate) %>" + "/" + d[5];
        window.location = url;
        });

})();
</script>

<% else %>
  <h1>Search results for: <%= @q %></h1>
  <ul>
    <% for place in @places %>
    <!--
      <li> <%= link_to image_tag(place.image(:thumb)), :controller => :places, :action => :navigate, :id => place.id %>
        <%= link_to place.name, :controller => :places, :action => :navigate, :id => place.id %>
      -->
      <li> <%= image_tag(place.image(:thumb)) %> <%= place.name %>
        <%= link_to content_tag(:span, "Drive here", :class=>"button"), :controller => :places, :action => :navigate, :id => place.id %>
    <% end %>
  </ul>
<% end %>
