<%= form_for(@place, :html => { :multipart => true }) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :locx %><br />
    <%= f.number_field :locx, :type => 'float' %>
  </div>
  <div class="field">
    <%= f.label :locy %><br />
    <%= f.number_field :locy, :type => 'float' %>
  </div>
  <div class="field">
    <%= f.label :angle %><br />
    <%= f.number_field :angle, :type => 'float' %>
  </div>
  <div class="field">
    <%= image_tag @place.image.url(:thumb) %>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
