<%= form_for(@robot_state) do |f| %>
  <% if @robot_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot_state.errors.count, "error") %> prohibited this robot_state from being saved:</h2>

      <ul>
      <% @robot_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :activity %><br />
    <%= f.text_field :activity %>
  </div>
  <div class="field">
    <%= f.label :robot %><br />
    <%= select("robot", "robot_id", Robot.all.collect { |r| [r.name, r.id]}, {:include_blank => 'None'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
