<div id="content">

  <div id="tab-container">
      <!-- The "content" parameter here is the robot object -->
      <ul>
        <li><a {{action navigate content}}> Navigate </a></li>
        <li class="tabselected"><a> Plug </a></li>
      </ul>
  </div>

	<div id="main-container">
		<div class="content plugcontent">
			{{#if plugged_in}}
			<div>Currently plugged in</div>
			{{else}}
			<div>Not plugged in</div>
			{{/if}}

			<table border=1 width="100%">
			  <tr>
				<td><img width=400 height=300 {{bindAttr src="camera_url"}}></td>
				<td><img width=400 height=300 {{bindAttr src="forearm_camera_url"}}></td>
			  </tr>
			</table>

			{{#if plugged_in}}
			<div class="mybutton" {{action unplug target="controller"}}>Unplug</div>
			{{else}}
			<div class="mybutton" {{action plugIn target="controller"}}>Plug in</div>
			{{/if}}

			<div class="mybutton" {{action tuckArms target="controller"}}>Tuck arms</div>
		</div>
	</div>

</div>
