<div class="header">
    <img src="static/img/wg-logo.png" class="headingimg" {{action showAllRobots}}>
    <span class="heading" {{action showAllRobots}}>{{name}}</span>

    <div class="robot_info">
	<table>
	<tr>
	    <th> Battery </th>
	    <th> Location </th>
	    <th> Motors </th>
	    <th> Status </th>
	</tr>
	<tr>
	    <td><span id="battery">{{battery}}</span>%,
		<span class="tbd">unplugged</span></td>
	    <td><span class="tbd">unknown</span></td>
	    <td><span class="tbd">unknown</span></td>
	    <td><span class="tbd">unknown</span></td>
	</tr>
	</table>
    </div>
</div>

{{outlet}}


