<h1>{{name}}</h1>

<img {{bindAttr src="image"}} width="200">
<div>
  <b>Battery:</b> <span id="battery">{{battery}}</span>%
</div>

<a {{action unplug}}>Unplug from power outlet</a>

<p>Select a place in the map to navigate:</p>
{{outlet}}

<hr>
<a {{action showAllRobots}}> Back to list of robots </a>

