<%= form_for(@robot, :html => { :multipart => true }) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :locx %><br />
    <%= f.number_field :locx %>
  </div>
  <div class="field">
    <%= f.label :locy %><br />
    <%= f.number_field :locy %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :camera_url %><br />
    <%= f.text_field :camera_url %>
  </div>
  <div class="field">
    <% if @robot.image.url(:thumb) %>
      <%= image_tag @robot.image.url(:thumb) %>
    <% end %>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
